# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [271]:
# Your code goes here
import pandas as pd

In [272]:
df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [278]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)


def clean_data(df):
   
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    

    df = df.drop_duplicates()
    
    
    df = df.fillna({'customer_gender': 'Unknown', 'policy_type': 'Unknown', 'total_claim_amount': 0})
    
   
    df['total_claim_amount'] = pd.to_numeric(df['total_claim_amount'], errors='coerce')
    
    return df


cleaned_df = clean_data(combined_df)


cleaned_df.to_csv('cleaned_combined_data.csv', index=False)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,state,gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [280]:
# Your code goes here
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
pivot_total_revenue = df.pivot_table(values='total_claim_amount', index='sales_channel', aggfunc='sum')
pivot_total_revenue = pivot_total_revenue.round(2).sort_values(by='total_claim_amount', ascending=False)
print("Total Revenue by Sales Channel:\n", pivot_total_revenue)
pivot_avg_clv = df.pivot_table(values='customer_lifetime_value', index='gender', columns='education', aggfunc='mean')
pivot_avg_clv = pivot_avg_clv.round(2)
print("\nAverage Customer Lifetime Value by Gender and Education Level:\n", pivot_avg_clv)

Total Revenue by Sales Channel:
                total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

Average Customer Lifetime Value by Gender and Education Level:
 education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

Web channel generates the highest total revenue, indicating a strong online presence and effectiveness in digital marketing strategies.
Branch sales come in second, which shows that physical locations still play a significant role in revenue generation.
Call center is in third place, suggesting that phone-based sales and support are still relevant but less dominant compared to web and branch.
Mail has the lowest revenue, indicating that traditional mail marketing might be the least effective in terms of revenue generation.

Females with a Master's degree have the highest average customer lifetime value, indicating that they might be more loyal or have higher spending power.
Males with a Doctorate also have high lifetime values, suggesting similar trends in loyalty and spending power.
High School education tends to have lower average customer lifetime values for both genders, possibly indicating lower income levels or spending capacity.
Bachelors and College degrees show similar trends, with slight variations between genders.